name: Merge upstream
on:
  schedule:
    - cron:  '0/5 * * * *'
jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install pip packages
        run: pip3 install -r requirements.txt

      - name: Merge upstream
        run: |
          git pull --unshallow
          python3 sync_upstream.py
